/* _content/OnlineRestaurant/Views/Cart/Index.cshtml.rz.scp.css */
.container[b-yzakh3d9yj] {
    padding-top: 120px;
}

.quantity-input[b-yzakh3d9yj] {
    display: flex;
    align-items: center;
    gap: 80px;
}

.quantity-value[b-yzakh3d9yj] {
    width: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.quantity-btn[b-yzakh3d9yj] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.minus-btn[b-yzakh3d9yj] {
    color: #dc3545;
}

.plus-btn[b-yzakh3d9yj] {
    color: #28a745;
}
/* _content/OnlineRestaurant/Views/Home/Index.cshtml.rz.scp.css */
.home-banner[b-fu14kj3bsj] {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    background: url(/Images/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 888px;
}

.pos-bottom[b-fu14kj3bsj] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.triangle-up[b-fu14kj3bsj]:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: url(https://preview.colorlib.com/theme/luigis/images/triangle_bg.png.webp) repeat-x;
    background-size: 26px 10px;
}

.row[b-fu14kj3bsj] {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding-top: 50px;
    padding-bottom: 25px;
}

.row h2[b-fu14kj3bsj] {
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    font-weight: 800;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-bottom: 60px;
}

.content-menu[b-fu14kj3bsj] {
    float: left;
    width: 100%;
    vertical-align: top;
    position: relative;
    padding-bottom: 3px;
}

.content-menu ul li a[b-fu14kj3bsj] {
    color: #000000;
    border: none;
    position: relative;
    font-weight: 400;
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}

.filter-container[b-fu14kj3bsj] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
}

.category-list[b-fu14kj3bsj] {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.category-list li[b-fu14kj3bsj] {
    display: inline-block;
    margin-right: 10px;
}

.category-list li a[b-fu14kj3bsj] {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 20px;
}

.category-list li a:hover[b-fu14kj3bsj] {
    background-color: #dc3545;
}

.left-section[b-fu14kj3bsj] {
    width: 15%;
    float: left;
    padding-right: 20px;
    background-color: rgb(180, 147, 131);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.left-section h3[b-fu14kj3bsj] {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Arial;
}

.left-section label[b-fu14kj3bsj] {
    margin-bottom: 5px;
    margin-top: 5px;
}

input#spiciness[b-fu14kj3bsj] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #dc3545;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input#spiciness[b-fu14kj3bsj]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid purple;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

input#spiciness[b-fu14kj3bsj]::-webkit-slider-thumb:hover {
  background: white;
}

input#containsNuts[b-fu14kj3bsj],
input#vegetarian[b-fu14kj3bsj] {
  transform: scale(1.2);
  margin-right: 5px;
}

.right-section[b-fu14kj3bsj] {
    width: 85%;
    float: right;
    padding-left: 20px;
    box-sizing: border-box;
}

.dish-container[b-fu14kj3bsj] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wraper[b-fu14kj3bsj] {
    background: url(/Images/Seller.jpg) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.wraper[b-fu14kj3bsj]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,.85);
}

.pos-bottom[b-fu14kj3bsj] {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 0;
}

.triangle-up[b-fu14kj3bsj]:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: url(https://preview.colorlib.com/theme/luigis/images/triangle_bg.png.webp) repeat-x;
    background-size: 26px 10px;
}

.pos-top[b-fu14kj3bsj] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.triangle-bottom[b-fu14kj3bsj]:after {
    content: '';
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: url(https://preview.colorlib.com/theme/luigis/images/triangle_bg.png.webp) repeat-x;
    background-size: 26px 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.home-subtitle[b-fu14kj3bsj] {
    font-size: 60px;
    font-weight: bold;
    line-height: 0.75;
}

.page-subtitle[b-fu14kj3bsj] {
    font-family: 'Edward', sans-serif;
    color: #b49383;
    line-height: 0.75;
}

.home-title[b-fu14kj3bsj] {
    margin-top: 10px;
}

.home-title h1[b-fu14kj3bsj] {
    font-size: 72px;
    color: #FFFFFF;
}

.home-text[b-fu14kj3bsj] {
    max-width: 875px;
    margin-top: 14px;
}

.home-text p[b-fu14kj3bsj] {
    color: #FFFFFF;
}

.home-text[b-fu14kj3bsj] {
    margin-right: auto !important;
    margin-left: auto !important;
}

.home-banner-content[b-fu14kj3bsj] {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 43%;
    left: 0;
    width: 100%;
}
/* _content/OnlineRestaurant/Views/Home/_DishPartial.cshtml.rz.scp.css */
.dish-card[b-6a151srjxt] {
    width: 300px;
    margin: 10px;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 10px;
    overflow: hidden;
}

.dish-card.selected[b-6a151srjxt] {
    border: 2px solid blue;
}

.dish-card:hover[b-6a151srjxt] {
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.7);
}

.dish-image[b-6a151srjxt] {
    max-width: 100%;
    height: auto;
}

.dish-image-container[b-6a151srjxt] {
    background: #fff;
    padding: 10px;
}

.dish-details[b-6a151srjxt] {
    padding: 10px;
    color: #fff;
    background: grey;
    width: 100%;
    height: 100%;
}


.dish-details input[b-6a151srjxt] {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.dish-details span[b-6a151srjxt] {
    font-weight: 700;
    font-size: large;
    color: #dd1225;
}

.dish-details h4[b-6a151srjxt]{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dish-details input:hover[b-6a151srjxt] {
    background-color: firebrick;
}

.pagination-container[b-6a151srjxt] {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
}

.pagination[b-6a151srjxt] {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.pagination li a[b-6a151srjxt] {
    text-decoration: none;
    color: #000;
    background-color: #dc3545;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: background-color 0.3s ease;
    color: #fff;
    margin: 20px;
}

.pagination li.active a[b-6a151srjxt] {
    background-color: red;
    color: #fff;
    border: 1px solid #fff;
}

.pagination li a:hover[b-6a151srjxt] {
    background-color: red;
    color: #fff;
}
/* _content/OnlineRestaurant/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.container-fluid[b-kp9xjhomyc] {
    display: flex;
    align-items: center;
}

a.navbar-brand[b-kp9xjhomyc] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-brand[b-kp9xjhomyc] {
    margin-left: 10%;
}

.navbar[b-kp9xjhomyc] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 1000;
    border-bottom: none !important;
    box-shadow: none !important;
}

.navbar.scrolled[b-kp9xjhomyc] {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.navbar.cart-page[b-kp9xjhomyc] {
    position: static;
    background-color: rgba(0, 0, 0, 0.8);
}

.scooter-icon[b-kp9xjhomyc] {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/Images/Scooter.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    transition: transform 0.3s ease;
    transform-origin: left center;
}

.cart-link[b-kp9xjhomyc] {
    display: flex;
    align-items: center;
    margin-left: 75%;
}

.cart-link:hover .scooter-icon[b-kp9xjhomyc] {
    transform: translateX(30px);
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .cart-link[b-kp9xjhomyc] {
        display: none;
    }

    .navbar-brand[b-kp9xjhomyc] {
        margin-left: 0;
    }

    .navbar-collapse[b-kp9xjhomyc] {
        justify-content: flex-end;
    }

    .navbar-nav[b-kp9xjhomyc] {
        margin-right: 10px;
    }
}


a[b-kp9xjhomyc] {
    color: #0077cc;
}

.btn-primary[b-kp9xjhomyc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kp9xjhomyc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kp9xjhomyc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kp9xjhomyc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kp9xjhomyc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kp9xjhomyc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
