/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.container-fluid[b-kp9xjhomyc] {
    display: flex;
    align-items: center;
}

a.navbar-brand[b-kp9xjhomyc] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-brand[b-kp9xjhomyc] {
    margin-left: 10%;
}

.navbar[b-kp9xjhomyc] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 1000;
    border-bottom: none !important;
    box-shadow: none !important;
}

.navbar.scrolled[b-kp9xjhomyc] {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.navbar.cart-page[b-kp9xjhomyc] {
    position: static;
    background-color: rgba(0, 0, 0, 0.8);
}

.scooter-icon[b-kp9xjhomyc] {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/Images/Scooter.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    transition: transform 0.3s ease;
    transform-origin: left center;
}

.cart-link[b-kp9xjhomyc] {
    display: flex;
    align-items: center;
    margin-left: 75%;
}

.cart-link:hover .scooter-icon[b-kp9xjhomyc] {
    transform: translateX(30px);
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .cart-link[b-kp9xjhomyc] {
        display: none;
    }

    .navbar-brand[b-kp9xjhomyc] {
        margin-left: 0;
    }

    .navbar-collapse[b-kp9xjhomyc] {
        justify-content: flex-end;
    }

    .navbar-nav[b-kp9xjhomyc] {
        margin-right: 10px;
    }
}


a[b-kp9xjhomyc] {
    color: #0077cc;
}

.btn-primary[b-kp9xjhomyc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kp9xjhomyc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kp9xjhomyc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kp9xjhomyc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kp9xjhomyc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kp9xjhomyc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}