@model DishViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-banner">
    <div class="pos-bottom triangle-up"></div>
    <div class="home-banner-content text-center">
        <div class="home-subtitle page-subtitle">Nika's Restaurant Is</div>
        <div class="home-title">
            <h1>An Extraordinery Experience</h1>
        </div>
        <div class="home-text">
            <p>Fast and efficient dood delivery, with excellent service and high quality food, Order Now.</p>
        </div>
    </div>
</div>


<section class="wraper">
    <div class="pos-bottom triangle-up"></div>
    <div class="pos-top triangle-bottom"></div>
    <div class="container">
        <div class="row col-md-12">
            <h2>Categories</h2>
            <div class="filter-container">
                <form onsubmit="event.preventDefault(); filterDishes();" id="filterForm">
                    <ul class="category-list">
                        <li><a href="/Home/Index">All</a></li>
                        <li><a href="/Home/Index?category=Salads">Salads</a></li>
                        <li><a href="/Home/Index?category=Soups">Soups</a></li>
                        <li><a href="/Home/Index?category=Chicken-Dishes">Chicken-Dishes</a></li>
                        <li><a href="/Home/Index?category=Beef-Dishes">Beef-Dishes</a></li>
                        <li><a href="/Home/Index?category=Seafood-Dishes">Seafood-Dishes</a></li>
                        <li><a href="/Home/Index?category=Vegetable-Dishes">Vegetable-Dishes</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { category = "Bits&Bites" })">Bits &amp; Bites</a></li>
                        <li><a href="/Home/Index?category=On The Side">On The Side</a></li>
                    </ul>

                    <div class="left-section">
                        <h3>Filter</h3>
                        <label for="spiciness">Spiciness:</label>
                        <output id="spicinessOutput">All</output>
                        <br />
                        <input type="range" id="spiciness" name="spiciness" min="-1" max="4" step="1" value="-1" />
                        <br />
                        <input type="checkbox" id="containsNuts" name="containsNuts" value="true" />
                        <label for="containsNuts">Contains Nuts:</label>
                        <br />
                        <input type="checkbox" id="vegetarian" name="vegetarian" value="true" />
                        <label for="vegetarian">Vegetarian:</label>
                        <br />
                        <input type="hidden" id="category" name="category" value="@Model.Category" />
                        <br />
                        <button type="submit" class="btn btn-danger">Filter</button>
                        <button type="button" class="btn btn-danger" onclick="resetFilter()">Reset</button>
                    </div>

                    <div class="right-section">
                        <div class="dish-container">
                            @Html.Partial("_DishPartial", Model)
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script>
    document.getElementById('spiciness').addEventListener('input', function () {
        var spicinessOutput = document.getElementById('spicinessOutput');
        if (this.value == -1) {
            spicinessOutput.textContent = 'All';
        } else {
            spicinessOutput.textContent = this.value;
        }
    });

    function resetFilter() {
        $('#category').val('');
        $('#spiciness').val(-1);
        $('#containsNuts').prop('checked', false);
        $('#vegetarian').prop('checked', false);

        filterDishes();
    }

    function filterDishes() {
        var category = $('#category').val();
        var spiciness = $('#spiciness').val();
        var containsNuts = $('#containsNuts').prop('checked');
        var vegetarian = $('#vegetarian').prop('checked');

        $.ajax({
            url: '/Home/Index',
            type: 'GET',
            data: {
                category: category,
                spiciness: spiciness,
                containsNuts: containsNuts,
                vegetarian: vegetarian,
                page: 1
            },
            success: function (response) {
                $('.dish-container').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function addToCart(dishId) {
        $.ajax({
            url: '/Cart/AddToCart',
            type: 'POST',
            data: { dishId: dishId },
            success: function (response) {
                if (response.success) {
                    $('#cart-count').text(parseInt($('#cart-count').text()) + 1);
                } 
                else {
                    
                }
            },
            error: function (xhr, status, error) {
                
            }
        });
    }
</script>
