.container {
    padding-top: 120px;
}

.quantity-input {
    display: flex;
    align-items: center;
    gap: 80px;
}

.quantity-value {
    width: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.quantity-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.minus-btn {
    color: #dc3545;
}

.plus-btn {
    color: #28a745;
}